:root {
    --primary-color: ;
    --secondary-color: #0886CE;
    --accent-color: #EB5A48;
    --note-color: #FCF9F9;
    --button-color: #14273C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    visibility: hidden;
}


header {
    background: linear-gradient(#0D1823, #14273C);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: top 0.3s;
}

.logo-header {
    width: 36px;
}

.header-cont {
    max-width: 1280px;
    margin: auto;
    padding: 0 0 0 25px;
    display: flex;
    align-items: center;
    gap: 70px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 70px;
    font-weight: 400;
    margin-right: auto;
    font-size: 1.1em;
}

header ul a {
    text-decoration: none;
    color: white;
}

header ul a:hover {
    color: var(--accent-color);
}

#search:hover .search-img {
    fill: var(--accent-color);
}

.search-img {
    fill: white;
    width: 28px;
    height: 28px;
}

.right-part {
    display: flex;
    align-items: center;
    gap: 50px;
}

.div-login-btn{
    position: relative; 
    display: flex;
}

.div-login-btn.logged:hover #cerrar-sesion{
    display: block;
}

#login-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    min-width: 155px;
    height: 70px;
    padding-right: 25px;
}

#login-logo {
    width: 40px;
    border-radius: 50%;
}

#login-btn:hover {
    color: var(--accent-color);
}

#cerrar-sesion{
    position: absolute;
    color: white;
    z-index: 2;
    top: 70px;
    right: 0;
    background-color: var(--button-color);
    padding: 25px 35px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    width: 175px;
    display: none;
}

#cerrar-sesion:hover{
    
    background-color: #c24939;
   
}

.container {
    max-width: 1280px;
    margin: auto;
    position: relative;
}



.nota {
    position: relative;
    padding-top: 275px;
    padding-bottom: 80px;
}

.nota::before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../img/nota-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 654px;
    background-color: rgb(0, 0, 0, 0.2);

}

.nota-escrito {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    border-radius: 50px;
    padding: 50px 100px;
    margin: 0 clamp(0.938em, -10.446em + 24.286vw, 6.25em);
    background-color: #FCF9F9;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.062);
}

.margen {
    margin: 0 50px;
}

.nota-escrito h2 {
    font-size: 2em;
    font-weight: 600;
}

.nota-escrito h3 {
    font-size: 1.4em;
    font-weight: 600;
    color: var(--accent-color);
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.items:nth-child(2) span {
    font-family: "PT Sans Caption", sans-serif;
    color: var(--secondary-color);
}

.items span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.titulo-nota {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 80px;
}

.titulo-nota span {
    font-family: "PT Sans Caption", sans-serif;
}

.bookmark {
    fill: none;
    cursor: pointer;
    width: 20px;
    height: 26px;
    stroke: black;
}

.bookmark:hover {
    fill: rgb(87, 87, 87);
    cursor: pointer;
}

.bookmark.active {
    fill: black;
}

.views-rate {
    display: flex;
    align-items: center;
    gap: 15px;
}

.views-rate :nth-child(1) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.views-rate :nth-child(1)::before {

    content: "116k";
}

.views-rate :nth-child(2) {
    display: flex;
    align-items: center;
    gap: 5px;
}

.views-rate :nth-child(2)::before {
    content: "4.2";
}

.contenido-nota {
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
    max-height: 600px;
    position: relative;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
}

.contenido-nota.active {
    max-height: 2500px;

}

.nota-inactiva {
    position: absolute;
    height: 200px;
    width: 100%;
    background: linear-gradient(to bottom, #17171700, var(--note-color));
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.sintesis {
    font-weight: 500;
}

.nota-escrito p {
    font-size: 1.15em;
    line-height: 1.5lh;
    font-family: "Roboto", sans-serif;


}

.minicontenido a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: var(--button-color);
    border-radius: 40px;
    padding: 20px 30px;
    cursor: pointer;
}

.minicontenido a:hover {

    background-color: rgb(6, 24, 46);

}

.minicontenido a p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
}

.minicontenido a p::before {
    content: "—";
}

.flecha {
    transform: rotate(0deg);
}

.flecha.active {
    transform: rotate(180deg);
}

.contenido-por-expandir {
    margin: 35px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.subtitulo-nota {
    color: var(--button-color);
    font-weight: 600;
}

.subtitulo-nota::before {
    content: "—";
}

#expandir2,
#expandir3 {
    display: none;
}

.ver-mas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 80px 0 0 0;
    cursor: pointer;
    transform: rotate(0deg);
}

#ver-mas-img {
    transform: rotate(0deg);
}

#ver-mas-img.active {
    transform: rotate(180deg);
}


#ver-mas-text {
    font-weight: 500;
    color: rgb(0, 0, 0, 0.5);
}

.redes-lateral {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 600px;
    left: 40px;
}

.redes-lateral img {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.redes-lateral img:hover {
    filter: brightness(90%);
}

.redes-y-guardar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 75px 0;
    gap: 10px;
}

.redes-y-guardar img {
    width: 42px;
    height: 42px;
    cursor: pointer;
}

.redes-y-guardar img:hover {
    filter: brightness(90%);
}

.redes-y-guardar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    background-color: var(--button-color);
    cursor: pointer;
}

/* 
.bookmark-bottom{
    
} */

.redes-y-guardar a .bookmark-bottom {
    fill: transparent;
}

.redes-y-guardar a:hover .bookmark-bottom {
    fill: rgb(182, 182, 182);
}

.redes-y-guardar a .bookmark-bottom.active {
    fill: white;
}


.etiquetas-proxnota {
    padding: 0 25px;
}

.etiquetas-proxnota span {
    font-weight: 500;
}

.etiquetas-proxnota> :last-child {
    display: flex;
    margin: 10px 0;
    gap: 13px;
}

.etiquetas-proxnota> :last-child button:nth-child(-n+3) {
    background-color: #EB5A48;
    color: white;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 1em;
    cursor: pointer;
}

.etiquetas-proxnota> :last-child button:nth-child(-n+3):hover {
    background-color: #d45140;

}

.etiquetas-proxnota> :last-child button:last-child {
    background-color: transparent;
    color: var(--secondary-color);
    margin-left: auto;
    border: 2px solid var(--secondary-color);
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
}

.etiquetas-proxnota> :last-child button:last-child:hover {
    background-color: rgb(247, 247, 247);

}

.etiquetas-proxnota> :last-child button:last-child img {
    width: 10px;
    height: 20px;
}

.row {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.nota-escrito .row {
    margin: 0 clamp(0.938em, -10.446em + 24.286vw, 6.25em);
}

.autor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    gap: 20px;
    position: relative;
    margin: 0 clamp(0.938em, -10.446em + 24.286vw, 6.25em);
}

.autor::before {

    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.autor> :first-child {
    width: 60%;
    height: 232px;
    background-image: url("../img/autor-background.svg");
    background-position: bottom 15px center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
}

.autor> :first-child img {
    width: 100%;
    max-width: 96px;
    margin: 0 auto;
}

.autor> :last-child {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-right: 100px;
    color: white;
    /* background-size: 20px; */
}

.valoracion {
    display: flex;
    justify-content: center;
    margin: 0 clamp(0.938em, -10.446em + 24.286vw, 6.25em);
    align-items: center;
    padding: 100px 50px;
    gap: 20px;
    position: relative;
    color: white;
}

.valoracion span {
    font-size: 1.15em;
    font-family: "PT Sans Caption", sans-serif;
}

.valoracion strong {
    font-size: 4.5em;
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 500;
}

.valoracion::before {

    content: "";
    position: absolute;
    background-color: var(--button-color);
    background-image: url("../img/background-rate.webp");
    background-size: auto 330px;
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.valoracion> :nth-child(1) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.valoracion> :nth-child(1)> :last-child {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.star-rate {
    width: 59px;
    height: 56px;
    cursor: pointer;
    fill: transparent;
}

/* .star-rate:not(:last-child){
    
    fill: #2CA9F0;
} */

.comentarios {
    padding: 100px 25px;
}


.cantidad-comentarios {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cantidad-comentarios span {
    font-size: 2.2em;
}

.cantidad-comentarios> :first-child {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    min-width: 70px;
    min-height: 70px;
    padding: 10px;
}



.escribir-comentario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 80px 0;
    position: relative;
}

.escribir-comentario textarea {
    width: auto;
    border: 1px solid black;
    height: 175px;
    font-size: 1em;
    /* outline: none; */
    resize: none;
    padding: 35px 100px;
    border-radius: 40px;
    margin: 0;
}

.escribir-comentario button {
    margin: 0 0 0 auto;
    cursor: pointer;
    border: none;
    padding: 10px 45px;
    font-size: 1.2em;
    background-color: var(--accent-color);
    color: white;
    border-radius: 15px;
}

.escribir-comentario button:hover {
    background-color: #d45140;
}

.profile-photo {
    background-color: #0D1823;
    position: absolute;
    object-fit: contain;
    padding: 5px;
    top: -30px;
    left: -30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    pointer-events: none;
}

.row-comentarios {
    margin: 0 calc(clamp(0.938em, -10.446em + 24.286vw, 6.25em) + 50px);
    display: flex;
    flex-direction: column;
}

.comentarios-escritos {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 25px 0;
}

.comentario-individual {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    background-color: #F5F5F5;
    border-radius: 40px;
    gap: 35px;
}

.comentario-individual> :nth-child(2) {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.comentario-individual h3 {
    font-size: 1.5em;
    font-family: "Gothic A1", sans-serif;
}

.comentario-individual p {
    font-family: "PT Sans Caption", sans-serif;
    font-size: 0.9em;
}


#mostrar-mas {
    margin: 25px 0;
    color: white;
    background-color: var(--accent-color);
    border: none;
    border-radius: 40px;
    font-family: "Gothic A1", sans-serif;
    font-size: 1.35em;
    font-weight: 500;
    padding: 15px 0;
    position: relative;


}

#mostrar-mas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/arrow-mostrarmas.svg");
    background-position: center right 35px;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    z-index: 1;
}

#mostrar-mas:hover {
    background-color: #d45140;

}

.notas-similares {
    height: 730px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.notas-similares::before {

    background: linear-gradient(to bottom, #14273C, #214F82);
    content: "";
    position: absolute;
    width: 100vw;
    height: 730px;
    z-index: -1;
    margin: auto;
}


.notas-similares .row h2 {
    margin: 75px 0;
    max-width: fit-content;
    font-family: "Gothic A1", sans-serif;
    color: white;
    font-weight: 500;
    padding: 15px 15px 15px 50px;
    box-shadow: 10px 15px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-color);
}

.cards {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin: 0 30px;
}

.card-individual {
    background-color: #F4F4F4;
    border-radius: 30px;
    overflow: hidden;
    width: 280px;
    border: none;
    position: relative;
    cursor: pointer;
}

.card-individual:hover {
    filter: brightness(95%);
    transition: .3s;
}


.card-individual a .bookmark {
    fill: none;
    stroke: white;
    cursor: pointer;
}

.card-individual a .bookmark:hover {
    fill: rgb(182, 182, 182);
}

.card-individual a .bookmark.active {
    fill: white;
}



.card-individual img {
    object-fit: cover;
    width: 100%;
    height: 210px;
}

.card-individual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 210px;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.card-individual> :nth-child(2) {
    position: absolute;
    width: 100%;
    top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1;
}

.card-individual> :nth-child(2)> :first-child {
    display: flex;
    align-items: center;
    gap: 5px;

}

.card-individual> :nth-child(2)> :first-child span {
    font-size: 1.1em;
    color: white;
    z-index: 1;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    ;
}

.card-individual> :nth-child(2)> :first-child img {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
    height: auto;
    width: 23px;
}

.card-individual> :nth-child(3) {
    padding: 15px 25px 40px 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-individual> :nth-child(3) span {
    font-size: 0.75em;
    font-family: "PT Sans Caption", sans-serif;
    color: #4d4d4d;
}

.card-individual> :nth-child(3) h4 {
    font-size: 1.1em;
    font-family: "Gothic A1", sans-serif;
    margin-bottom: 15px;
}

.card-individual> :nth-child(3) p {
    font-size: 1em;

}

.donar {

    display: flex;
    justify-content: center;
    height: 496px;
    position: relative;

}

.donar::before {
    content: "";
    position: absolute;
    top: 0;
    background-image: url("../img/donar-background.webp"), linear-gradient(to right, white 50%, #00223B 50%);
    width: 100vw;
    height: 100%;
    background-size: auto 496px;
    background-position: center;
    background-repeat: no-repeat;

}


.donar-escrito {
    width: 55%;
    /* background: linear-gradient(to right, 
    rgba(0, 0, 0, 0) 0%, 
    rgba(0, 0, 0, 0.5) 5%, 
    rgba(0, 0, 0, 0.5) 95%, 
    rgba(0, 0, 0, 0) 100%); */
    background-color: rgb(0, 0, 0, 0.65);
    height: 100%;
    padding: 50px 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
}

.donar-escrito span {
    color: white;
    font-size: 3em;
    font-family: "Gothic A1", sans-serif;
}

.donar-escrito button {
    color: white;
    font-size: 2.2em;
    font-family: "Gothic A1", sans-serif;
    background-color: transparent;
    border: 4px solid white;
    border-radius: 50px;
    padding: 5px 35px;
    font-weight: 600;
    cursor: pointer;
}

.donar-escrito button:hover {
    background-color: #6666664f;
}

footer {
    background-color: var(--button-color);
    overflow: hidden;
}

.footcontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1280px;
    margin: auto;
    padding: 100px 50px 75px 50px;
    gap: 50px;
    width: 100%;

}

.footcontainer> :first-child {
    display: flex;
    gap: 30px;
    width: 100%;
    align-items: center;
    margin-right: 50px;
}

.footcontainer> :first-child img {
    height: 180px;
}

.footcontainer> :first-child p {
    font-weight: 300;
    font-size: 1.5em;
    font-family: "PT Sans Caption", sans-serif;
    color: white;
    width: 160px;

}

.footcontainer ul {
    width: 60%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 35px;

}

.footcontainer ul a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

.footcontainer ul a:hover {
    color: var(--accent-color);
}

footer> :last-child {
    max-width: 1280px;
    margin: auto;
    color: rgb(245, 245, 245);
    font-weight: 400;
    font-family: "Gothic A1", sans-serif;

    padding: 0 25px 25px 25px;
    display: flex;
    justify-content: flex-end;
}

#login-popup {
    width: 100%;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    gap: 40px;
    position: relative;
}


.login-container h3 {
    font-weight: 600;
    color: var(--button-color);
    font-size: 1.4em;
    text-align: center;
}

.formularios-registro {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formularios-registro input {
    padding: 15px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.459);
    font-family: "PT Sans", sans-serif;
    font-size: 1em;
}

.iniciar-sesion-button {
    width: 100%;
    padding: 15px 0;
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: white;
}

.formularios-registro a {
    margin: 5px 0 10px auto;
    color: var(--accent-color);
    cursor: pointer;
    font-weight: 500;
}

.formularios-registro a:hover {
    margin: 5px 0 10px auto;
    color: #d45140;
    cursor: pointer;
    font-weight: 500;
}

.iniciar-sesion-button:hover {
    background-color: #d45140;
}


.login-container .separador {
    margin: -30px auto;
}

.contenedor-btn-login {
    display: flex;
    width: 100%;
    gap: 5px;
}

.contenedor-btn-login button {
    width: 100%;
    padding: 15px 0;

    border: none;
    border-radius: 4px;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: white;
}

.contenedor-btn-login>button:nth-of-type(1) {
    background-color: var(--secondary-color);
}

.contenedor-btn-login>button:nth-of-type(1):hover {
    background-color: #0f7ebe;
}

.contenedor-btn-login>button:nth-of-type(2) {
    background-color: var(--button-color);
}

.contenedor-btn-login>button:nth-of-type(2):hover {
    background-color: rgb(6, 24, 46);
}

.logo-login {
    height: 86px;
    filter: brightness(0) saturate(100%) invert(14%) sepia(38%) saturate(2271%) hue-rotate(155deg) brightness(94%) contrast(104%);
}

.login-container .registrate {
    font-size: 1em;
}

#abrirRegistro {
    color: var(--accent-color);
    cursor: pointer;
    font-weight: 500;
}

#abrirRegistro:hover {
    color: #d45140;
}

#cerrar-form {
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
}

.back {
    position: absolute;
    top: 35px;
    left: 35px;
    cursor: pointer;
    width: 16px;
}

.div-contraseña {
    position: relative;
    display: flex;
    align-items: center;
}

.div-contraseña input {
    width: 100%;
    padding-right: 60px;
}

.div-contraseña img {
    position: absolute;
    right: 15px;
    width: 30px;
    cursor: pointer;
}

.div-contraseña img:hover {
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0, 0.4));
    transition: 0.1s;
}

.terminos-y-condiciones {
    text-align: center;
    margin: 10px 0;
}

.texto-error {
    margin: -7.5px 0;
    color: red;
    font-size: 0.9em;
}

.error {
    border: 2px solid red !important;
    outline: none;
}


.texto-error.active {
    margin: -7.5px 0 -2.5px 0;
    color: red;
}

.btn-checkbox {
    width: 100%;
    padding: 15px 0;
    margin-top: 25px;
    background-color: rgb(148, 148, 148);
    border: none;
    border-radius: 4px;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: white;
}

.btn-checkbox.active {

    background-color: var(--accent-color);

}

.btn-checkbox.active:hover {

    background-color: #d45140;

}

.div-checkbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.div-checkbox input[type=checkbox] {
    display: none;
}

.div-checkbox label {
    color: white;
    font-weight: normal;
    width: 110px;
    height: 110px;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    font-family: "Gothic A1", sans-serif;
}

.div-checkbox input[type="checkbox"]:checked+label {

    box-shadow: inset 0 0 0 5px var(--button-color);

}

.div-checkbox input[type="checkbox"]:checked+label::before {

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url("../img/checked.webp");
    background-repeat: no-repeat;
    background-position: top right;
}


.div-radio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.div-radio input[type=radio] {
    display: none;
}

.div-radio label {
    color: white;
    font-weight: normal;
    width: 110px;
    height: 110px;
    background-repeat: none;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    font-family: "Gothic A1", sans-serif;
}

.div-radio input[type="radio"]:checked+label {

    box-shadow: inset 0 0 0 5px var(--button-color);

}

.div-radio input[type="radio"]:checked+label::before {

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url("../img/checked.webp");
    background-repeat: no-repeat;
    background-position: top right;
}

.btn-radio {
    width: 100%;
    padding: 15px 0;
    margin-top: 25px;
    background-color: rgb(148, 148, 148);
    border: none;
    border-radius: 4px;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: white;
}

.btn-radio.active {

    background-color: var(--accent-color);

}

.btn-radio.active:hover {

    background-color: #d45140;

}

.imagen-bienvenida {
    border-radius: 50%;
    max-width: 150px;
    width: 100%;
    object-fit: cover;
    border: 10px solid var(--button-color);
}

#ventana-mobile {
    display: none;
}

@media only screen and (max-height: 700px) {
    html {
        font-size: 14px;
    }

    .login-container {
        font-size: 1.15em;
    }

    .row-comentarios {
        font-size: 1.15em;
    }

    .autor-y-valoracion {
        font-size: 1.15em;
    }
}

@media only screen and (min-height: 1100px) {
    html {
        font-size: 20px;
    }

    header {
        font-size: 1.1em;
    }

    .donar-escrito {
        font-size: 0.9em;
    }

    .login-container {
        font-size: 1.15em;
        scale: 1.2;
    }

    .row-comentarios {
        font-size: 1.15em;
    }

    .autor-y-valoracion {
        font-size: 1.15em;
    }
}

@media only screen and (max-width: 690px) {
header{
    overflow: hidden;
}
.nota{
    overflow: hidden;
}
.margen{
    overflow: hidden;
}


.row{
    overflow: hidden;
}

}

@media only screen and (max-width: 800px) {
    #ventana-mobile {
        position: fixed;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        text-align: center;
        width: 100vw;
        height: 100vh;
        background-color: rgb(245, 245, 245);
        top: 0;
        left: 0;
        z-index: 100;
        gap: 50px;

    }

    #ventana-mobile h2 {

        font-family: "Gothic A1", sans-serif;
        color: var(--button-color);
        font-weight: 600;
        font-size: clamp(1.286rem, 1rem + 1vi, 1.571rem);
        line-height: 1.4em;
    }

    #ventana-mobile .logo {
        filter: brightness(0) saturate(100%) invert(14%) sepia(38%) saturate(2271%) hue-rotate(155deg) brightness(94%) contrast(104%);
    }

    #ventana-mobile .arrow {
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(45deg);
        width: 75px;
        margin: 10px 25px;
    }

    #ventana-mobile button {
        font-family: "Gothic A1", sans-serif;
        color: var(--accent-color);
        font-weight: 600;
        font-size: 1.2em;
        padding: 12px 50px;
        border-radius: 10px;
        background-color: transparent;
        border: 3px solid var(--accent-color);
    }


    body {
        overflow-y: hidden;
    }

    html {
        overflow: hidden;
    }
}